img {
  max-width: 100%;
  height: auto;
}

.mobile {
 max-width: 50%;
 height: auto;
 border: 1px solid #dddddd;
}

a {
  color: #009999;
}

h1 {
  color: #808080;
}

.top-nav a {
  font-size: 1.5em;
  margin-bottom: 25px;
}

table, th, td {
  border: 1px solid #dddddd;
}

th, td {
  padding: 15px;
  text-align: left;
}

table {
 margin-top: 20px;
 margin-bottom: 20px;
}


