.PromoHeader {
  height: 40px;
  width: 1024px;
  background-color: #4F4F4F;
  color: white;
  text-align: center;
  padding-top: .1em;
  padding-bottom: .1em;
  margin: 0em;
}

.PromoHeader p {
 color: white; 
}
