.PromoHeader {
  background-color: orange;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  padding-top: .1em;
  padding-bottom: .1em;
  margin: 0em;
}

.PromoHeader p {
 color: white; 
}
